@import "/src/scss/variables.scss";

.main-products {
   margin-top: 5rem;
   padding: 1.8rem 0;
}

// .foot-type {
//    color: lime;
//    width: 100%;
//    padding: 30px;
//    color: $typeFoodColor;
// }

.product-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
}
